/*
font-family: 'Fira Sans', sans-serif;
font-weight: 'Black 900', bold;
font-weight: 'Semibold 600', normal;

*/

body {
  width: 75%;
  padding: 15px 10px;
  margin: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  font-family: 'Libre Caslon Text', serif;
}
header{
  width: 100%;
  margin: 0;
  background-color: gold;
  padding:2rem;
}

/*div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}*/
img {
  height: auto;
  max-width: 200px;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 'Black 900', bold;
  text-align: center;
}

h2{
  font-weight: bold;
}
h3{
  font-style: italic, oblique;
}

header p{
  color: #2e0e02;
}
p{
}

.caption{
  font-size: .75rem;
}

footer {
  text-decoration-color: none;
  background-color: #581908;
  font-size: .75em;
  width: 100%;
  margin: 2rem, 0,0,0;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 600px) {
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }
  li a {

    width: 100%;
    margin: none;
  }
