/*
font-family: 'Fira Sans', sans-serif;
font-weight: 'Black 900', bold;
font-weight: 'Semibold 600', normal;

font-family: 'Fira Sans', sans-serif;
font-family: 'Libre Caslon Text', serif;
font-family: 'Open Sans', sans-serif;
*/

body {
  width: 75%;
  padding: 15px 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  font-family: 'Libre Caslon Text', serif;
  background-color: #ebc9a0;
}
header{
  margin: -1;
  background-color: gold;
  padding:2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div .media {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

div .copy {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;

}

div .book {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

section .shop-holder {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

section .copy-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 2rem;

}

section .location-holder {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
}

section .location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

img {
  height: auto;
  max-width: 150px;
}

.featured{
  display: flex;
  height: auto;
  max-width: 75%;
  justify-content: space-between;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 'Black 900', bold;
  text-align: center;
  font-size: 3em;
}

h2{
  font-family: 'Libre Caslon Text', serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

h3{
  font-family: 'Fira Sans', sans-serif;
}
p{
}

.caption{
  font-size: .75rem;
}

footer {
  text-decoration-color: none;
  background-color: #581908;
  font-size: .75em;
  width: 100%;
  margin: 2rem, 0,0,0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

header .nav ul{
  list-style-type: none;
  display: inline-flex;
  align-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #gold;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 'Bold 700', bolder;

}
li a {
  list-style-type: none;
  display: inline-flex;
  color: brown;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  float: left;
}

li a:hover:not(.active) {
  list-style-type: none;
  background-color: #gold;
}

.active {
  list-style-type: none;
  background-color: #gold;
}

footer {
  text-decoration-color: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 'Bold 700', bolder;
  font-size: .75em;
  background-color: #C1D3DD;
  width: 100%;
  margin: 2rem, 0,0,0;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px){
  div .book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }
  li a {

    width: 100%;
    margin: none;
  }
    div .book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }
